{% extends 'base.html' %} {% block title %}Joyesh's Portfolio{% endblock %} {% block content
%}
<div style="width: 100%; background-color: white;">
<header class=" " style="color: rgb(230, 48, 48);width: 100%; background-color: white;">
    <div class="inner text-center">
        <!-- <p class="signature" style="color: black;">Joyesh.</p> -->
        <p class="signature" style="color: black;">Joyesh Shrestha</p>

      <nav class="nav justify-content-center" style="color: black;">

        <a class="nav-link active hover-underline-animation" style="color: black;" href="#">Home</a>
        <a class="nav-link hover-underline-animation" style="color: black;" href="#">About</a>
        <a class="nav-link hover-underline-animation" style="color: black;" href="#">Projects</a>
        <a class="nav-link hover-underline-animation" style="color: black;" href="#">Contact me</a>

      </nav>
    </div>
  </header>
</div>
<main role="main" class="inner cover text-center py-5">
  <!-- main header -->
    <div class="container d-flex justify-content-center mt-4">
        <div class="row justify-content-center">
            
            <div class="col text-start m-3">
                <h1>Software Developer<br /></h1>
                <p class="sub-heading">
                    Hello👋🏻 I am Joyesh. I do Python and Data Science stuffs! <br>
                    
                </p>
                <a class="my-4 btn btn-dark d-flex justify-content-center" style="width: 120px;">Say Hi!</a>
                
                <div class="mt-3">
  <a href="https://www.linkedin.com/in/joyesh-shrestha-bb2bb9212/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 48 48">
    <path fill="#0288D1" d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"></path><path fill="#FFF" d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"></path>
    </svg></a>
    <a href="https://github.com/JoyeshShrestha" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 30 30">
        <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
    </svg></a>
</div>


            </div>

            <div class="col text-center mt-4">
              <img src="static/img/1.gif" alt="" style="height: 300px; width: auto;">
              
            </div>   
  

</div>
</div>
</main>
<!-- about me -->

<div class="container col-xxl-8 px-4 py-5 my-5">
  
  <div class="row flex-lg-row align-items-center ">
   
    <div class="col-10  d-flex justify-content-center col-sm-8 col-lg-6">
      
      <div class="circular--portrait "><img src="static/img/p1.jpg" class="img-fluid" alt="ME"></div>

    </div>
   
  
  
    <div class="col-lg-6">
      <h2 class="text-start">About Me</h2>

      <p>Welcome to my digital space! I am Joyesh Shrestha from 🇳🇵, an enthusiastic IT student with a strong foundation in Information Management. Over the years, my journey in the world of technology has been shaped by a combination of formal education and hands-on experiences. Let me walk you through my academic and professional ventures. </p>

      <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-3">
        <button type="button" class="btn btn-dark btn-sm px-4 me-md-2">Download CV</button>
      </div>
    </div>
  </div>
</div>



<!--Skills-->

  <div class="container ">
    <div class="container d-flex justify-content-center px-4 py-5" id="icon-grid">
  
      <div class="row  row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-5 py-5 align-items-center">
      <h2 class="d-flex justify-content-start col-sm-12 hover-underline-animation">Skills:</h2>
        
        <div class="col d-flex align-items-center">
          <img src="static/img/python.svg" class="img skills_icon" alt="">
        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/django.svg" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-start">
          <img src="static/img/aws.svg" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/docker.svg" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-start">
          <img src="static/img/flask.png" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/react.png" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/java.svg" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/sel.png" class="img skills_icon" alt="">

        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/numpy.svg" class="img skills_icon" alt="">

        </div> <div class="col d-flex align-items-center">
          <img src="static/img/panda.svg" class="img skills_icon" alt="">

        </div> 
        <div class="col d-flex align-items-center">
          <img src="static/img/js.svg" class="img skills_icon" alt="">


        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/postgresql.svg" class="img skills_icon" alt="">


        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/mysql-logo.svg" class="img skills_icon" alt="">


        </div>
        <div class="col d-flex align-items-center">
          <img src="static/img/php.svg" class="img skills_icon" alt="">


        </div>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<div class="css-selector pt-3 px-3 pt-md-5 px-md-5">
  <div class="container">
    <h2 class="d-flex justify-content-start text-light col-sm-12  mt-4">Projects:</h2>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="front" style="background-image: url('static/img/p1.jpg');">
        <p class="large">Jo-Blog</p>
      </div>
      <div class="back">
        <div class="text-dark">
          <div class="title">
            <h2>Jo-Blog</h2>
            <h3 class="release_date text-dark">Java</h3>
          </div>
          <div class="rating">
            <label>Python Flask | SQLAlchemy | Gunicorn | Authentication | PostgreSQL</label>
            <i class="fas fa-star star"></i>
          </div>
          <p class="review">review</p>
          <p class="overview">Descriptioon</p>
  
          
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="front" style="background-image: url('static/img/jo-blog.png');">
        <h2 class="large">Jo-Blog</h2>
        <h3>Python Flask | SQLAlchemy | Gunicorn | Authentication | PostgreSQL</h3>

      </div>
      <div class="back">
        <div class="text-dark">
          <div class="title">
            <h2>Jo-Blog</h2>
          </div>
          <div class="rating">
            <!-- <h3 style="color: black;">Python Flask | SQLAlchemy | Gunicorn | Authentication | PostgreSQL</h3> -->
            
          </div>
          <p class="overview sub-heading sub">t's a dynamic space crafted with Flask, the robust Python web framework. Explore a collection of tech insights, projects, and creative endeavors that highlight my versatility and skills. With a secure login and logout system, powered by Flask, your privacy is prioritized. Engage in meaningful conversations by leaving comments on each project, fostering connections within the community. The interactive user experience, tailored with Flask's capabilities, ensures a seamless journey across various devices. Jo-Blog Portfolio is more than a website; it's a testament to the endless possibilities that Flask brings to the world of web development. Ready to explore? Login for the full experience or Explore projects without an account.</p>
  
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script>
  let card = document.querySelector('.card');
  let front = document.querySelector('.front');
  let back = document.querySelector('.back');

  let hammer = new Hammer(card);

  hammer.on('pan', function(e) {
    let rotateY = e.deltaX / card.clientWidth * 180;
    front.style.transform = 'rotateY(' + rotateY + 'deg)';
  });

  hammer.on('panend', function(e) {
    front.style.transform = 'rotateY(0deg)';
  });

  hammer.on('tap', function(e) {
    front.style.transform = 'rotateY(180deg)';
  });

  hammer.on('touchend', function(e) {
    front.style.transform = 'rotateY(0deg)';
  });

  // Simulate hover effect on desktop
  if ('ontouchstart' in window === false) {
    card.addEventListener('mouseover', function() {
      front.style.transform = 'rotateY(180deg)';
    });

    card.addEventListener('mouseout', function() {
      front.style.transform = 'rotateY(0deg)';
    });
  }
</script>
